/*=================NAVBAR=================*/
.navbar {
  background-color: black;
}

.navbar-default .navbar-brand {
  color: white;
  font-size: xx-large;
}

#brand {
  font-family: Helvetica;
  margin: 0.5em 0em 0em 0;
}

.btn {
  color: white;
  background-color: black;
  border-color: gray;
}

#search-input {
  background-color: white;
  margin: 1em 0.2em 1.5em 0;
}

/*=================SHOPPING CART============*/

.panel > .panel-heading {
  background-color: black;
  color: white;
}

.panel-default {
  position: relative;
  border-color: black;
}

.panel-title {
  text-align: left;
}

#discount {
  margin: 1em 1em 1em 0;
  width: 15em;
}

.shopping-total {
  text-indent: 9px;
}

/*=================SHOP PRODUCTS=================*/

body {
  background-color: #D0D0D0;
  padding-top: 100px;
}

.stock-msg {
  color: red;
}

.thumbnail {
  border-color: black;
}

.thumb {
  border-color: black;
  float: left;
  margin: -0.10em 2em 1.5em 0;
  padding-bottom: 30em;
  height: 150px;
  width: 150px;
}

.footer {
  background-color: black;
}

a {
  color: white;
}
