<!doctype html>
<html lang="en" ng-app="clothesStore">
  <head>
    <meta charset="utf-8">
    <title>Clothes Store</title>
    <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.css">
    <link rel="stylesheet" href="css/app.css">
    <script src="bower_components/angular/angular.js"></script>
    <script src="bower_components/angular-resource/angular-resource.js"></script>
    <script src="bower_components/jquery/dist/jquery.js"></script>
    <script src="js/app.js"></script>
    <script src="js/storeControllers.js"></script>
  </head>

    <body ng-controller="ProductListCtrl" class="container">

      <nav class="navbar navbar-default"><h1>Clothes Store</h1>
        <input class="navbar navbar-right" ng-model="query" placeholder="Search">
      </nav>

      <div class="col-md-8">
          <div class="col-sm-6" ng-repeat="product in products | filter:query">
          <div class="thumbnail">
            <img src="{{product.image}}">
            <h4>{{ product.name }}</h4>
            <p>Description: {{ product.colour }}</p>
            <p>Category: {{ product.category }}</p>
            <p>{{product.quantity }} Left in Stock</p>
            <p><strong>Price: {{ product.price | currency: '£' }}</strong></p>
            <p><a href id="add-to-cart" ng-click="addProduct($index)" ng-show="product.canPurchase"class="btn btn-info">Add to Cart</a></p>
            <button id="sold-out" type="button" class="btn btn-danger" ng-show="product.soldOut">Out of Stock</button>
        </div>
      </div>
    </div>

    <div class="col-sm-4">
      <div class="panel panel-default">
        <div class="panel-heading">
          <h4 class="panel-title">Shopping Cart</h4>
        </div>
        <div>
          <h5 class="panel panel-default cart-total">Total: {{ cartTotal() | currency: '£' }}</h5>
        </div>
          <div class="panel-body" ng-repeat="product in shoppingCart track by $index">
            <strong>{{product.name}} : {{product.price | currency: '£'}}</strong>
            <a href id="remove-from-cart" ng-click="removeProduct($index)" class="btn btn-danger btn-xs" role="button">X</a>

            <div class="panel-body" ng-repeat="voucher in vouchers">
              <a href ng-click="addDiscount(voucher)" class="btn btn-success btn-sm" role="button">{{voucher.name}}</a>
           </div>


          </div>
        </div>
      </div>
    </div>

  </body>
</html>
